.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f3f4f6;
}

.titulo{
  font-size: 1.875rem; /* 3xl = 30px */
  font-weight: 700; /* bold */
  margin-bottom: 1.5rem; /* mb-6 = 24px */
}

.pizzarias{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); /* grid-cols-1 */
  gap: 1.5rem; /* gap-6 = 24px */

}

/* Para telas médias (md) */
@media (min-width: 768px) { /* md equivale a 768px */
  .Pizzarias {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* grid-cols-2 */
  }
}

/* Para telas grandes (lg) */
@media (min-width: 1024px) { /* lg equivale a 1024px */
  .Pizzarias {
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* grid-cols-3 */
  }
}